

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), 
       url("../fonts/OpenSans-Regular.woff2") format("woff2"), 
       url("../fonts/OpenSans-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), 
       url("../fonts/OpenSans-Bold.woff2") format("woff2"), 
       url("../fonts/OpenSans-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: normal;
  font-style: normal;
}

/* _____________________________________ */
/* ШАПКА */

.header {
  background-image: url("../images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-color: #666666;

  min-height: 449px;
  
  box-sizing: border-box;
  position: relative;

  z-index: 0;

  color: #ffffff;
  text-align: center;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  
  background-color: #000000;
  opacity: 0.6;

  z-index: 1;
}

.container-header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  padding: 27px 15px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  width: 100%; 
  
  z-index: 3;

  font-size: 13px;
  font-weight: normal;
  text-transform: uppercase;
}

.noemi-logo {
  width: 182px;
}

.noemi-logo-link {
  color: inherit;
  text-decoration: none;
}

.menu-list {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  
  list-style-type: none;
}

.menu-list-item:nth-child(n + 2) {
  margin-left: 35px;
}

.menu-link {
  color: inherit;
  text-decoration: none;
}

.menu-link:hover {
  text-decoration: underline;
}

.burger-menu {
   display: none;
  }

.header-title {
  display: flex;
  align-items: center;
 
  box-sizing: border-box;
  min-height: 350px;
  margin: 0 auto;
  padding: 0 240px;

  font-size: 45px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.667;
   
  z-index: 2;
}

/* _____________________________________ */
/*            БЛОК ТРЕНДОВ               */
.trends-section {
  margin: 58px auto 60px;
}

.section-title {
  margin: 0 auto;
    
  font-weight: bold;
  text-transform: uppercase;
  color: #0f0d0e;

  text-align: center;
}

.section-title::after {
  content: "";
  display: block;
  box-sizing: border-box;

  vertical-align: middle;

  width: 65px;
  border-bottom: 3px solid #b59f5b;
  opacity: 0.4;
}

.page-section-title {
  font-size: 20px;
}

.page-section-title::after {
  margin: 8px auto 27px;
}

.trends {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4px;
}

.trends-item {
  display: flex;
  box-sizing: border-box;
  min-height: 319px;
  padding: 15px 21px;
  
  position: relative;
  z-index: 0;
  
  align-items: end;
  background-size: cover;
  background-position: bottom center;
}

.item1 {
  background-image: url("../images/trend1.jpg");
}

.item2 {
  background-image: url("../images/trend2.jpg");
}

.item3 {
  background-image: url("../images/trend3.jpg");
}

.item4 {
  background-image: url("../images/trend4.jpg");
}

.trends-item::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  
  background-color: #000000;
  opacity: 0.6;

  z-index: 1;
}

.trends-item-content {
  padding: 35px 32px 31px;
  border: 3px solid #b59f5b;
  
  z-index: 2;
}

.tag-list {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  
  margin: 0;
  padding-left: 0;
  gap: 20px;
  
  list-style-type: none;

  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #b59f5b;
}

.tag-item-link {
  color: inherit;
  text-decoration: none;
}

.tag-item-link:hover {
  text-decoration: underline;
}

.article-title {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
}

.trends-article-title {
  margin: 6px 0 0 0;
}

.trends-title-link {
  color: #ffffff;
  text-decoration: none;
}

.trends-title-link:hover {
  color: #b59f5b;
}


/* _____________________________________ */
/* ОСНОВНОЙ БЛОК СТРАНИЦЫ                */

.page-content {
  display: flex;
  justify-content: space-between;
/*  flex-wrap: wrap;*/
  
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

  color: #000000;
}

/* Главное содержимое */

.main-content {
  max-width: 778px;
  box-sizing: border-box;
  padding-top: 3px;
  margin-right: 121px;
}

.article {
  display: flex;
}

.article:nth-child(n + 2) {
  padding-top: 61px;
}

.article-image {
  display: block;
  
  min-width: 381px;
  min-height: 294px;

  object-fit: cover;
  overflow: hidden;
     
  background-color: #eff6f1;
  font-size: 15px;
}

.article-preview {
  margin-left: 30px;
}

.main-article-title {
  margin: 7px 0 0 0;
}

.article-title-link {
  color: #0f0d0e;
  text-decoration: none;
}

.article-title-link:hover {
  color: #b59f5b;
}

.article-date-author {
  margin: 28px 0 45px;
  padding: 0;

  font-size: 12px;
}

.article-datetime {
  font-weight: normal;
  color: #888888;
}

.article-author {
  padding-left: 10px;

  font-weight: bold;
  color: #000000;
}

.article-excerpt {
  margin: 0;
  padding: 0;

  font-size: 15px;
  font-weight: normal;
  color: #0f0d0e;
  line-height: 1.467;
}

.article-paragraph {
  margin-bottom: 0;
}

.article-paragraph:first-child {
  margin-top: 0;  
}

.article-paragraph:nth-child(n + 2) {
  margin-top: 10px;
}

/* Дополнительный боковой блок */

.aside-content {
  min-width: 271px;
  max-width: 271px;
}

.aside-section {
  margin-bottom: 57px;
}

.aside-title {
  font-size: 14px;
}

.aside-title::after {
  margin: 10px auto 25px;
}

/* блок Новые посты */

.new-post {
  display: flex;
  
  font-size: 8px;
}

.new-post:nth-of-type(n + 2) {
  margin-top: 18px;
}

.new-post-image {
  display: block;
  box-sizing: border-box;
  margin: 4px 0 0 0; 
  
  width: 70px;
  min-height: 70px;
  background-color: #f4f7f6;
}

.new-post-preview {
  margin-left: 18px;
}

.new-post-datetime {
  font-size: 12px;
  opacity: 0.54;
}

.new-post-title {
  margin: 2px 0 0 0;
   
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  
  line-height: 1.286;
}

.new-post-title-link {
  color: #000000;
  text-decoration: none;
}

.new-post-title-link:hover {
  color: #b59f5b;
}

/* блоки поиска и подписки */

.form-search {
  display: flex;
  justify-content: space-between;
  
  margin-top: 60px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.input-field {
  display: block;
  box-sizing: border-box;
  
  margin: 0;
  width: 100%;
  height: 47px;
  padding: 0 19px;

  font-size: 13px;
  background-color: #f4f7f6;
  opacity: 0.54;
  
  border: 1px solid #f4f7f6;
}

.input-field:focus {
  outline: none;
  border: 1px solid #b59f5b;
}

.submit-btn {
  margin: 0;
  padding: 0;

  border: none;
  height: 47px;

  color: #ffffff;
  background-color: #b59f5b;

  font-family: inherit;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;

  cursor: pointer;
}

.submit-btn:hover {
  background-color: #323232;
}

.search-btn {
  min-width: 49px;
  
  background-image: url("../svg/search.svg");
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: center center;
}

.subscribe-btn {
  margin-top: 18px;
  width: 100%;
}

/* блок Теги */

.tag-section {
  margin-bottom: 55px;
}

.tag-container {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-wrap: wrap;

  margin: 0;
  padding-left: 0;
  gap: 5px;
  
  list-style-type: none;
}

.tag-link {
  display: block;
  box-sizing: border-box;
  
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #0f0d0e;
  text-decoration: none;
  
  padding: 4px 13px 4px 14px;
  
  border: 3px solid #f4f3f1;
}

.tag-link:hover {
  border-color: #b59f5b;
}

/* блок Темы */

.theme-list {
  margin-top: -3px;
  margin-bottom: 0;
  padding: 0;
  
  list-style-type: none;
}

.theme-list-item {
  padding-bottom: 11px;
  border-bottom: 1px solid #eeeeee;
}

.theme-list-item:nth-of-type(n + 2) {
  padding-top: 13px;
}

.theme-link {
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}

.theme-link:hover {
  color: #b59f5b;
}

.theme-counter {
  font-size: 12px;
  font-weight: bold;
  color: #b59f5b;
  
  position: relative;
  top: -3px;
}

/* _____________________________________ */
/*             секция изделий            */

.products-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
  box-sizing: border-box;
  max-width: 1200px;
  margin: 58px auto 65px;
  padding: 0 15px;

  color: #000000;
}

.products {
  display: flex;
  justify-content: space-between;
  gap: 65px;
}
  
.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;

  margin: 0 23px;
}

.product-img {
  display: block;
  width: 100%;
  min-height: 205px;

  object-fit: cover;
  overflow: hidden;
  
  background-color: #eff6f1;
  font-size: 15px;
}  

.product-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  
  box-sizing: border-box;
  margin: -30px -19px 0;
  padding: 30px 19px 28px;
  outline: 3px solid rgba(181, 159, 91, 0.6);;
}

.product-title {
  margin: 19px 0 2px;
  color: #0f0d0e;
}

.product-description {
  font-size: 15px;
  line-height: 1.467;
}

.description-link {
  color: #b59f5b;
  text-decoration: none;
}

.description-link:hover {
  text-decoration: underline;
}

.product-footer {
  display: flex;
  align-items: end;
  margin-top: 23px;
}

.product-prices {
  display: block;
  margin-bottom: 6px;
  
  font-weight: bold;
  color: #0f0d0e;
}

.product-price-old {
  font-size: 14px;
  line-height: 1;
  text-decoration: line-through;
}

.product-price {
  font-size: 20px;
  line-height: 1;
}

.product-btn {
  margin-left: auto;
  width: 142px;
}

/* _____________________________________ */
/*                ПОДВАЛ                 */

.footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.social-section {
  box-sizing: border-box;
  width: 1170px;
  padding: 33px 0;

  background-color: #f4f7f6;
}

.social-icon-list {
  display: flex;
  justify-content: center;

  margin: 0 auto;
  padding-left: 0;

  list-style-type: none;
}

.social-icon-item:nth-child(n + 2) {
  margin-left: 27px;
}

.social-icon-link {
  display: block;
  
  width: 20px;
  height: 20px;
  
  background-repeat: no-repeat;
  background-position: center center; 
  background-size: cover;
  
  text-decoration: none;
  color: inherit;
}

.social-icon-dribbble {
  background-image: url("../svg/001-dribbble.svg");
}

.social-icon-pinterest {
  background-image: url("../svg/002-pinterest.svg");
}

.social-icon-tumblr {
  background-image: url("../svg/003-tumblr.svg");
}

.copyright-section {
  margin-top: 65px;
  margin-bottom: 40px;
}

.copyright-link {
  text-decoration: none;
  font-size: 12px;
  color: #999999; 
  font-weight: bold;
}

/* _________________________ */
/*      Всплывающее окно     */

.popup {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
 
  background: rgba(15, 13, 14, 0.6);
}

.block-hidden {
  display: none;                  
}

.popup-content {
  display: flex;
  box-sizing: border-box;
  width: 390px;
  flex-direction: column;
   
  background: #ffffff;
  padding: 48px 30px 54px;
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup-content::before {
  content: "";
  display: block;
  
  width: 19px;
  height: 19px;
  
  position: absolute;
  right: 0;
  top: -26px;
  
  background-image: url("../svg/form-x.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.popup-title {
  font-size: 20px;
}

.popup-title::after {
  margin: 8px auto 25px;
}

.form-feedback {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 27px;
  gap: 30px;
  
  font-size: 13px;
}

.feedback-group {
  width: 100%;
}

.feedback-label {
  display: block;
  margin-bottom: 7px;
  margin-right: 20px;
}

.select-field {
  -webkit-appearance: none;
  -moz-appearance: none;
  
  background-image: url("../svg/form-arrows.svg");
  background-size: 9px 16px;
  background-repeat: no-repeat;
  background-position: right 13px center;
  
  font-family: inherit;
}

.radio-group {
  display: inline-block;
  margin-right: 12px;
}

.radio-group-control {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
} 

.radio-group-text::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px;
  
  width: 18px;
  height: 18px;
  
  background-image: url("../svg/form-empty-circle.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.radio-group-control:checked + .radio-group-text::before {
  background-image: url("../svg/form-circle.svg");
}

.textarea {
  min-height: 130px;
  padding-top: 17px;
  
  font-family: inherit;
  font-size: inherit;
  
  resize: none;
}

.popup-btn {
  width: 100%;
}


/*_______________________*/
/*   Стили для планшета  */

@media (min-width: 641px) and (max-width: 1199px) {

  /*-----------------------*/
  /*   шапка  */
  .header {
    min-height: 392px;
    width: 100%;

    background-image: url("../images/banner-bg-tablet.jpg");
  }

  .container-header {
    width: 100%;
    padding: 42px 34px 24px;
  }

  .menu {
    width: 100%;
  }

   .noemi-logo {
    width: 158px;
  }

  .menu-list {
    display: none;
  }

  /* вариант с svg иконкой
  .menu-list::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-left: 28px;
        
    width: 24px;
    height: 19px;
    
    background-image: url("../svg/menu_burger.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

    -webkit-filter: invert(100%);
    filter: invert(100%);
  }*/
  
  .burger-menu {
    display: flex;
    width: 23px;
    height: 19px;
    align-items: center;
  }

  .menu-button {
    width: 100%;
    height: 100%;
    padding: 0;

    background-color: transparent;
    border: none;

    position: relative;
    text-indent: -9999px;

    cursor: pointer;
  }

  .menu-button::before, .menu-button::after {
    content: "";
    width: 100%;
    height: 3px;

    background-color: #ffffff;

    position: absolute;
    left: 0;
  }

  .menu-button::before {
    top: 0;
  }

  .menu-button::after {
    bottom: 0;
  }

  .menu-button-label {
    width: 100%;
    height: 3px;
    margin-top: 0;

    background-color: #ffffff;

    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
  }

  .header-title {
    min-height: 286px;
    padding: 0 35px;

    font-size: 40px;
    line-height: 1.375;
  }

  /*-----------------------*/
  /*   блок трендов  */

  .trends-section {
    margin: 45px auto 46px;
  }

  .trends-title::after {
    margin-bottom: 20px;
  }

  .page-section-title {
    font-size: 18px;
  }

  .trends {
    gap: 2px;
  }

  .trends-item {
    min-height: 247px;
  }

  .trends-item-content {
    padding: 32px 31px 31px;
  }
  
  .article-title {
    font-size: 17px;
    line-height: 1.294;
  }

  /*---------------------------*/
  /*   ОСНОВНОЙ БЛОК СТРАНИЦЫ  */

  .page-content {
    width: 100%;
    padding: 0 34px;
  }

  /*   Главное содержимое  */
  .main-content {
    min-width: 269px;
    max-width: 827px;
    margin-right: 33px;
    padding-top: 4px;  
    flex-grow: 1;
  }

  .article {
    flex-direction: column;
  }

  .article:nth-child(n + 2) {
    padding-top: 43px;
    border-top: 3px solid #eeeeee;
  }

  .article:last-of-type {
    padding-top: 41px;
  }

  .article-image {
    width: 99%;
    min-width: 269px;
    max-width: 827px;
  }

  .article-preview {
    margin: 12px 0 17px;
  }

  .article-date-author {
    margin-top: 31px;
    margin-bottom: 29px;
  }

  .article-paragraph {
    margin-right: 4px;
  }

  
  /* Дополнительный боковой блок */
  .form-search {
    margin-top: 60px;
  }

  .tag-box {
    margin-bottom: 2px;
  }

  .tag-link {
    padding-left: 14px;
    padding-right: 14px;
  }

  .theme-list-item:nth-of-type(n + 2) {
    padding-top: 14px;
  }

  
  /*------------------------*/
  /*    секция изделий      */

  .products-section {
    width: 100%;
    margin: 45px auto 52px;
    padding: 0 34px;
  }

  .products {
    flex-wrap: wrap;
    gap: 23px;
  }

  .product {
    width: calc((100% - 23px) / 2 - 2 * 23px);
  }

  .product:nth-child(n + 3) {
    margin-top: 8px;
  }
  
  .product-img {
    min-height: 226px;
  }

  .product-content {
    margin: -32px -19px 0;
    padding: 32px 19px 25px;
  }

  .product-title {
    margin-top: 17px;
  }

  /* ---------------------- */
  /*         ПОДВАЛ         */

  .footer {
    width: 100%;
    padding: 0 34px;
  }

  .social-section {
    width: 100%;
  }

  .copyright-section {
    margin-top: 42px;
    margin-bottom: 35px;
  }

 /* ---------------------- */
 /*   всплывающее окно     */

  .popup-content {
    padding: 51px 29px;
  }

  .popup-content::before {
    width: 28px;
    height: 28px;
    top: -38px;
  }

  .popup-title {
    font-size: 18px;
  }

  .feedback-label {
    margin-bottom: 8px;
  }

  .radio-group {
    margin-right: 31px;
  }

  .radio-group-text::before {
    width: 26px;
    height: 26px;
  }
}  

@media (min-width: 641px) and (max-width: 1199px) and (orientation: portrait) {
  .trends {
    grid-template-columns: repeat(2, 1fr);
  }
}
/*  Стили для планшета - конец  */



/*++++++++++++++++++++++++*/
/*   Стили для мобильных  */

@media (max-width: 640px) {

  /*++++++++++++++++++++++*/
  /*         шапка        */
  .header {
    min-height: 638px;
    width: 100%;

    background-image: url("../images/banner-mobile.jpg");
  }

  .container-header {
    width: 100%;
    padding: 31px 15px;
  }

  .menu {
    width: 100%;
    justify-content: end;
  }

  .noemi-logo-link {
    position: absolute;
    top: 225px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .noemi-logo {
    width: 269px;
  }

  .menu-list {
    display: none;
   }

  .burger-menu {
    display: flex;
    width: 23px;
    height: 19px;
    align-items: center;
  }

  .menu-button {
    width: 100%;
    height: 100%;
    padding: 0;

    background-color: transparent;
    border: none;

    position: relative;
    text-indent: -9999px;

    cursor: pointer;
  }

  .menu-button::before, .menu-button::after {
    content: "";
    width: 100%;
    height: 3px;

    background-color: #ffffff;

    position: absolute;
    left: 0;
  }

  .menu-button::before {
    top: 0;
  }

  .menu-button::after {
    bottom: 0;
  }

  .menu-button-label {
    width: 100%;
    height: 3px;
    margin-top: 0;

    background-color: #ffffff;

    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
  }

  .header-title {
    align-items: start;
    padding: 270px 0 0 0;
   
    min-height: 295px;
    
    font-size: 26px;
    line-height: 1.384;
  }

  /*++++++++++++++++++++++*/
  /*   блок трендов       */

  .trends-section {
    margin: 40px auto 42px;
  }

  .trends-title::after {
    margin-bottom: 23px;
  }

  .page-section-title {
    font-size: 16px;
  }

  .trends {
    gap: 2px;
  }

  .trends-item {
    min-height: 232px;
    padding: 15px;
  }

  .trends-item-content {
    padding: 28px 30px 26px 19px;
  }

  .tag-list {
    gap: 17px;
  }

  .article-title {
    font-size: 16px;
    line-height: 1.25;
  }

  .trends-article-title {
    margin-top: 8px;
  }

  /*+++++++++++++++++++++++++++*/
  /*   ОСНОВНОЙ БЛОК СТРАНИЦЫ  */

  .page-content {
    width: 100vw;
    padding: 0 15px;
    flex-direction: column;
  }

  /*   Главное содержимое  */
  .main-content {
    width: 100%;
    margin-right: 0;
    margin-bottom: 41px;
  }

  .article {
    flex-direction: column;
    width: 100%;
  }

  .article:nth-child(n + 2) {
    padding-top: 35px;
    border-top: 3px solid #eeeeee;
  }

  .article-image {
    min-width: 330px;
    min-height: 250px;
  }

  .article-preview {
    margin: 10px 0 20px;
  }

  .main-article-title {
    margin-top: 8px;
  }

  .article-date-author {
    margin-top: 16px;
    margin-bottom: 15px;
  }

  .article-excerpt {
    font-size: 14px;
    line-height: 1.428;
  }

  .article-paragraph {
    margin-right: 5px;
  }

  .article-paragraph:nth-child(n + 2) {
    margin-top: 6px;
  }
  
  /* Дополнительный боковой блок */

  .aside-content {
    max-width: 100%;
  }

  .aside-section {
    margin-bottom: 40px;
  }

  .aside-title {
    font-size: 16px;
  }

  .aside-title::after {
    margin-top: 8px;
  }

  .subscribe-btn {
    margin-top: 17px;
  }

  .tag-link {
    padding: 4px 13px 3px 12px;
  }

  /*++++++++++++++++++++++++*/
  /*    секция изделий      */

  .products-section {
    width: calc(100% - 2 * 15px);
    margin: 3px 15px 41px;
    padding: 0;
  }

  .products {
    flex-wrap: wrap;
    gap: 28px;
  }

  .product {
    width: 100%;
    margin-left: 20px;
    margin-right: 24px;
  }

  .product-img {
    min-height: 283px;
  }

  .product-content {
    margin: -30px -22px 0 -18px;
    padding: 30px 22px 26px 18px;
  }

  .product-title {
    font-size: 17px;
  }

  /* ++++++++++++++++++++++ */
  /*         ПОДВАЛ         */

  .footer {
    width: 100%;
    padding: 0 15px;
  }

  .social-section {
    width: 100%;
  }

  .copyright-section {
    margin-top: 40px;
    margin-bottom: 35px;
  }

  /* ++++++++++++++++++++++ */
  /*   всплывающее окно     */

  .popup-content {
    width: 330px;
    padding: 26px 27px 29px 24px;
  }

  .popup-content::before {
    width: 27px;
    height: 27px;
    top: -32px;
  }

  .popup-title {
    font-size: 16px;
  }

  .popup-title::after {
    margin-top: 10px;
  }

  .feedback-label {
    margin-bottom: 8px;
  }

  .radio-group {
    margin-right: 31px;
  }

  .radio-group-text::before {
    width: 27px;
    height: 27px;
  }
}  

@media (max-width: 640px) and (orientation: portrait) {
  .trends {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-height: 640px) and (orientation: landscape) {
  .trends {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*         Стили для мобильных - конец         */

